{% extends "__basic.html" %}

{% block content %}
      <div class="text-center">
        <form class="form-signin" method="post"> {% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Форма авторизации</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <p></p>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password">
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Запомнить
                </label>
              </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        </form>
      </div>
{% endblock %}

